/*IMPORTING GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {

  /* COLORS*/

  --color-primary: #00C3FF;
  --color-secondary: #FFC700;
  --color-accent: #FF0080;

  --color-bg: #F6F6F6;
  --color-bg-alt: #EAEAEA;

  --color-text: #181818;
  --color-text-muted: #555555;

  /* FONT */
  --font-family-base: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

  /* WEIGHT */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* SIZE */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.15rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* BORDER RADIUS */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;
  
  /* SITE MAX WIDTH */
  --site-max-width: 1300px;
}

html {
    scroll-behavior: smooth;
}

/* STYLING FOR WHOLE SITE */
ul{
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}
img {
    width: 100%;
}
.section-content{
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--color-secondary);
}

/* NAVBAR STYLE */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--color-bg);
    z-index: 5;
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text {
    color: var(--color-text);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

.navbar .nav-menu .nav-link {
    padding: 10px 18px;
    color: var(--color-primary);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
    color: var(--color-bg);
    background: var(--color-accent);
}

.navbar :where(#menu-open-button, #menu-close-button) {
    display: none;
}


/*HERO SECTION*/
.hero-section {
    min-height: 100vh;
    background: url("background-img.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.hero-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--color-bg);
    justify-content: space-between;
}

.hero-section .hero-details .title{
    font-size: var(--font-size-xxl);
    color: var(--color-primary);
    font-family: "Borel", sans-serif;
}

.hero-section .hero-details .subtitle {
    margin-top: 8px;
    max-width: 800px;
    margin: auto;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.hero-section .hero-details .description{
    max-width: 800px;
    margin: 10px 0 40px;
    font-size: var(--font-size-l);
}

.hero-section .hero-details .buttons {
    display: flex;
    gap: 23px;
}

.hero-section .hero-details .button {
    padding: 10px 26px;
    border: 2px solid transparent;
    color: var(--color-accent);
    border-radius: var(--border-radius-m);
    background: var(--color-bg);
    font-weight: var(--font-weight-medium);
    transition: 0.3s ease;
}

.hero-section .hero-details .button:hover {
    color: var(--color-bg);
    border-color: var(--color-bg);
    background: transparent;
}


/*ABOUT SECTION STYLING*/
.about-section {
    padding: 120px 0;
    background: var(--color-text);
}

.about-section .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.about-section .about-image-wrapper .about-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.about-section .about-details .section-title {
    padding: 0;
    color: var(--color-bg);
}

.about-section .about-details {
    max-width: 50%;
}

.about-section .about-details .text {
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: justify;
    color: var(--color-bg);
    font-size: var(--font-size-m);
}

.about-section .social-link-list {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about-section .social-link-list .social-link {
    color: var(--color-bg);
    font-size: var(--font-size-l);
    transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
    color: var(--color-secondary);
}


/* STAFF SECTION STYLING*/

.staff-section {
    color: var(--color-bg);
    background-color: var(--color-text);
    padding: 50px 0 100px;
}

.staff-section .staff-list {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    align-items: center;
    justify-content: space-between;
}

.staff-section .staff-list .person {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.staff-section .staff-list .person .person-photo {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: var(--border-radius-s);
    margin-bottom: 15px;
}

.staff-section .staff-list .person .name {
    margin: 12px;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-semibold);
}

.staff-section .staff-list .person .text {
    font-size: var(--font-size-m);
    margin-top: 5px;
}


/* TESTIMONIALS SECTION STYLING*/
.testimonials-section {
    padding: 50px;
    background-color: var(--color-bg);
}

.testimonials-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}

.testimonials-section .testimonial{
    user-select: none;
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.testimonials-section .testimonial .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: var(--border-radius-circle);
}

.testimonials-section .testimonial .name {
    margin-bottom: 16px;
    color: var(--color-accent);
    font-size: var(--font-size-m);
}

.testimonials-section .testimonial .feedback {
    font-size: var(--font-size-s);
    line-height: 25px;
}

.testimonials-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: var(--color-primary);
}

.testimonials-section .swiper-button-prev, .testimonials-section .swiper-button-next {
    color: var(--color-primary);
    transition: 0.3s ease;
}

.testimonials-section .swiper-button-prev:hover, .testimonials-section .swiper-button-next:hover {
    color: var(--color-accent);
}


/*GALLERY SECTION STYLING*/

.gallery-section {
    padding: 50px 0 100px;
    background-color: var(--color-bg);
}

.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 0;
}

.gallery-section .gallery-list .gallery-item {
    list-style: none;
    overflow: hidden;
    border-radius: var(--border-radius-s);
    width: calc(100% / 3 - 22px);
}

.gallery-section .gallery-item .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: zoom-in;
    border-radius: var(--border-radius-s);
    transition: 0.3s ease;
}

.gallery-section .gallery-item:hover .gallery-image{
    transform: scale(1.3);
}


/*CONTACT US SECTION STYLING*/
.contact-section {
    padding: 50px 0 100px;
    background: var(--color-secondary);
}

.contact-section .section-content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-section .contact-info-list .contact-info {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.contact-section .contact-info-list .contact-info i {
    font-size: var(--font-size-m);
}

.contact-section .contact-form .form-input {
    width: 100%;
    height: 50px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background: var(--color-bg);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--color-text-muted);
}

.contact-section .contact-form {
    max-width: 50%;
}


.contact-section .contact-form .form-input:focus {
    border-color: var(--color-bg-alt);
}

.contact-section .contact-form textarea {
    height: 100px;
    padding: 12px;
    resize: vertical;
}

.contact-section .contact-form .submit-button {
    padding: 10px 26px;
    margin-top: 100px;
    color: var(--color-secondary);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    background: var(--color-text);
    border-radius: var(--border-radius-m);
    border: 2px solid var(--color-text);
    transition: 0.3s ease;
}

.contact-section .contact-form .submit-button:hover {
    color: var(--color-text);
    background: transparent;
}

/* FOOTER STYLE */

.footer-section {
    padding: 20px 0;
    background: var(--color-text);
}

.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-section :where(.copyright-text, .social-link, .policy-link) {
    color: var(--color-bg);
    transition: 0.3s ease;
}

.footer-section .social-link-list {
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link {
    font-size: var(--font-size-n);
}

.footer-section .social-link-list .social-link:hover, .footer-section .policy-text .policy-link:hover {
    color: var(--color-secondary);
}

.footer-section .policy-text .separator {
    margin: 0 5px;
    color: var(--color-bg);
}


/*RESPONSIVE MEDIA QUERY CODE FOR MAX WIDTH 1024PX*/
@media screen and (max-width: 1024px) {

    .staff-section .staff-list {
        gap: 60px;
    }

    .staff-section .staff-list .person{
        width: calc(100% / 3 - 60px);
    }

}

/*RESPONSIVE MEDIA QUERY CODE FOR MAX WIDTH 900PX*/
@media screen and (max-width: 900px) {
    :root {
        --font-size-m: 1rem;
        --font-size-l: 1.3rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 1.8rem;
    }

    body.show-mobile-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(4px);
    }

    .navbar :where(#menu-open-button, #menu-close-button) {
        display: block;
        font-size: var(--font-size-xl);
    }

    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
        color: var(--color-primary);
    }

    .navbar .nav-menu {
        position: fixed;
        display: block;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--color-bg);
        transition: left 0.3 ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar .nav-menu .nav-link {
        color: var(--color-primary);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }
    
    .hero-section .section-content{
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero-section .hero-details :is(.subtitle, .description), .about-section .about-details, .contact-section .contact-form{
        max-width: 100%;
    }

    .hero-section .hero-details .buttons{
        justify-content: center;
    }

    .about-section .section-content {
        gap: 70px;
        flex-direction: column-reverse;
    }

    .about-section .about-image-wrapper .about-image {
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .staff-section .staff-list {
        gap: 30px;
    }

    .staff-section .staff-list .person{
        width: calc(100% / 2 - 30px);
    }

    .staff-section .staff-list .person .person-photo {
        max-width: 200px;
    }

    .gallery-section .gallery-list .gallery-item {
        max-width: 200px;
    }

    .gallery-section .gallery-list {
            gap: 30PX;
    }

    .gallery-section .gallery-list .gallery-item .gallery-image {
         width: calc(100% / 2 - 30px);
    }

    .contact-section .section-content {
        align-items: center;
        flex-direction: column;
    }

}

/*RESPONSIVE MEDIA QUERY CODE FOR MAX WIDTH 640PX*/
@media screen and (max-width: 640px){
    .staff-section .staff-list {
        gap: 60px;
    }

    .staff-section .staff-list .person, .gallery-section .gallery-list .gallery-item{
        width: 100%;
    }

    .testimonials-section .slider-wrapper {
        margin: 0 0 30px;
    }

    .testimonials-section .swiper-button-prev, .testimonials-section .swiper-button-next {
        display: none;
    }

    .footer-section .section-content {
        flex-direction: column;
        gap: 20px;
    }
}

